<!DOCTYPE html>
<html lang="en">
<head>
  
  <% include partials/head.ejs %>

</head>
<body>

  <% include partials/header.ejs %>


  <div id="hero-image-notFound">
		<h1 id="hero-title" class="text-center">Lo sentimos. La página que esta buscando no existe<br>¡¡que la Fuerza te acompañe!!.</h1>		
	</div>


	<% include partials/footer.ejs %>

  <% include partials/scripts.ejs %>

</body>
</html>